@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400&family=Space+Grotesk:wght@500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.image-div {
  position: relative;
  width: 100%;
  height: 325px;
  overflow: hidden;
  border-radius: 10px;
}
.images .image {
  width: 100%;
  height: 325px;
  justify-self: center;
  align-self: center;
  /* margin-left: 2rem; */
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.image-div div {
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
.image-div:hover div {
  /* width: 150px; */
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

.detail {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: #1f3d4738;
  color: white;
}
.image-div:hover .image {
  transform: scale(1.5);
}
.hashtags {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* images section ends */

.paginate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 2rem;
}
.breakLabel {
  cursor: pointer;
}
.pagination-button {
  border: none;
  margin: 0 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;
  height: 2rem;
  min-width: 2rem;
  font-weight: 500;
  font-size: 1rem;
  background: whitesmoke;
}
.pagination-button:hover {
  background-color: #ccc;
}
.pagination-button-active {
  background-color: #009ef7;
  color: #fff;
}

.skip-button-active {
  border: none;
  margin: 0 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.475rem;
  height: 2rem;
  min-width: 2rem;
  font-weight: 500;
  font-size: 1rem;
  background: whitesmoke;
  color: black;
}
.skip-button-disable {
  color: #babab3;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  margin: 2rem;
  text-align: left;
  font-size: xx-large;
  font-weight: 600;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .search-section .search-input {
    width: 100%;
    min-width: unset;
    margin: 0 var(--default-margin);
  }
  .result {
    font-size: larger;
    font-weight: 600;
  }

  .images {
    grid-template-columns: 1fr;
  }
  .image-div {
    height: 100%;
  }
  .images .image {
    height: 224px;
  }
  .paginate-wrapper {
    gap: 0px;
    font-size: 12pt;
  }
  .pagination-button {
    border-radius: 0.475rem;
    height: 1.5em;
    min-width: 1.5em;
    font-weight: 500;
    font-size: 1em;
  }

  .skip-button-active {
    border: none;
    margin: 0 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.475rem;
    height: 1.5em;
    min-width: 1.5em;
    font-weight: 500;
    font-size: 1em;
  }
}
